<h1>A fusion between these demons is not possible.</h1>
<a asp-area="" asp-controller="Demon" asp-action="ViewCalculator">
    <img src="css/Images/smt_logo.png" alt="Fusion Calc Link" id="logo"/>
</a>
<a asp-area="" asp-controller="Demon" asp-action="Index">
    <img src="css/Images/PAD_4403_P3_Compendium_Artwork.png" alt="Demon Compendium Link" id="book"/>
</a>