<h1>A fusion between these demons is not possible.</h1>
<l>
    <ul>
        <a asp-area="" asp-controller="Demon" asp-action="ViewCalculator">To calculator</a>
    </ul>
    <ul>
    <a asp-area="" asp-controller="Demon" asp-action="Index">To demon list</a>
    </ul>
</l>