@model IEnumerable<Demons>

<h1>Fusion Calculator</h1>
@using (Html.BeginForm("CalculateResult","Demon","Post"))
{
    
    <div class="form-group">
        <list id="FuseInput">
            <ul>
                <label id="DSTitle">Select Demons</label>
            </ul>
            <ul>
                <select class="form-control" name="Input1" value="">
                    @foreach (var demon in @Model)
                    {
                        <option value="@demon.Name">@demon.Name</option>
                    }
                </select>
            </ul>
            <ul>
                <select class="form-control" name="Input2" value="">
                    @foreach (var demon in @Model)
                    {
                        <option value="@demon.Name">@demon.Name</option>
                    }
                </select>
            </ul>
            <ul>
                <input type="submit" value="Start Fusion" class="bt btn-primary" id="DFSubmit"/>
            </ul>
            <ul>
                <a asp-area="" asp-controller="Demon" asp-action="Index">View demon list</a>
            </ul>
            <ul>
                <a asp-area="" asp-controller="Home" asp-action="Index">Return Home</a>
            </ul>
        </list>
    </div>
    
}