@model Demons

<h3>@Model.Name Info</h3>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Level</th>
        <th>Race</th>
    </tr>
    
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Level</td>
        <td>@Model.Race</td>
    </tr>
</table>