@model Demons

<h3>@Model.Name Info</h3>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Level</th>
        <th>Race</th>
    </tr>
    
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Level</td>
        <td>@Model.Race</td>
    </tr>
</table>
<l>
    <ul>
        <a asp-area="" asp-controller="Demon" asp-action="ViewCalculator">Return to calculator</a>
    </ul>
    <ul>
    <a asp-area="" asp-controller="Demon" asp-action="Index">Return to list</a>
    </ul>
</l>