@model Demons

<h3>@Model.Name Info</h3>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Level</th>
        <th>Race</th>
    </tr>
    
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Level</td>
        <td>@Model.Race</td>
    </tr>
</table>
<a asp-area="" asp-controller="Demon" asp-action="ViewCalculator">
    <img src="css/Images/smt_logo.png" alt="Fusion Calc Link" id="logo"/>
</a>
<a asp-area="" asp-controller="Demon" asp-action="Index">
    <img src="css/Images/PAD_4403_P3_Compendium_Artwork.png" alt="Demon Compendium Link" id="book"/>
</a>