html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: url("./Images/moon-from-pngfre-2.png") no-repeat top center, 
          linear-gradient(90deg, rgba(10,83,190,1) 0%, rgba(0,0,0,1) 50%, rgba(10,83,190,1) 100%);
  ;
  color: #132c7f;
}

#headliner{
  font: 50px Copperplate Gothic;
  text-shadow: white 1px 1px 1px;
}

.table{
  ;
  color: white;
  text-shadow: 1px 1px black;
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(235,229,91,0.8) 4%, rgba(187,190,10,.75) 50%, rgba(0,0,0,0) 100%);
}
a{
  text-shadow: none;
 color: black; 
}
h2{
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px #b3ccea;
}
h3{
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: white;
  a{
    color: darkblue;
  }
}
footer, header{
  display: none; 
  font-size: 15px;
  text-align: center;
  background-size: inherit;
  background-color: white;
  text-shadow: none;
}
#Thankyou{
  text-align: center;
  font-size: 20px;
  text-shadow: black 1px 1px;
  color: white;
    background: rgba(10, 83, 190, 1) none;
}
#fart{
  text-space: 5px;
  font-size: 10px;
}
#logo{
  width: 200px;
  height: 200px;
}
.form-control{
  /*width: 150px;*/
}
#DSTitle{
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 20px;
  background-size: 200px;
}

.form-group{
  display: flex;
  justify-content: center;
}
h1{
  display: flex;
  justify-content: center;
  width: 450px;
  background-color: rgba(255, 255, 255, 0.31);
  margin-left: 350px;
}
ul, h3{
  display: flex;
  justify-content: center;
  a{
    color: #0dcaf0;
    text-shadow: black 1px 1px;
  }
}
#tyhomelink{
  font-size: 20px;
}


