@{
    ViewData["Title"] = "Welcome to the Page of Shadows";
}

<div class="text-center" id="headliner">
    <h1 class="display-4">Welcome to the Page of Shadows</h1>
    <p>Where demons gather.</p>
    <a asp-area="" asp-controller="Demon" asp-action="ViewCalculator">
        <img src="css/Images/smt_logo.png" alt="Fusion Calc Link" id="logo"/>
    </a>
    <a asp-area="" asp-controller="Demon" asp-action="Index">
        <img src="css/Images/PAD_4403_P3_Compendium_Artwork.png" alt="Demon Compendium Link" id="book"/>
    </a>
    <p id="tyhomelink"><a asp-area="" asp-controller="Home" asp-action="SpecialThanks">Thank-yous</a></p>
</div>