@{
    ViewData["Title"] = "Welcome to the Page of Shadows";
}

<div class="text-center" id="headliner">
    <h1 class="display-4">Welcome to the Page of Shadows</h1>
    <p>Where demons gather.</p>
</div>