<h1>Special thank-yous</h1>
<body id="Thankyou">
    <p>aqiu384 on GitHub for the <a href="https://aqiu384.github.io/megaten-fusion-tool/smt5v/chart">SMTV:V Fusion chart</a> reference.</p>
    <p><a href="https://megatenwiki.com/wiki/Main_Page">Megaten wiki</a> for further references</p>
    <p>Steven for compatability with the DSP</p>
</body>